<div class="toolbar" role="banner">
  <div>
    <mat-icon>assessment</mat-icon>
  </div>
  <span>Информационная поддержка многомасштабной модели для предсказания магнетической структуры по её свойствам</span>
</div>

<div class="example-container">
    <form [formGroup]="predictionRequestForm" (submit)="onPredictButtonClick()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Спин волновая дисперсия
        </mat-label>
        <input matInput formControlName="spinWaveDispersion" required>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Магнетическа стрктура
        </mat-label>
        <input matInput formControlName="magneticStructure" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Получить результат</button>
    </form>
</div>